@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --inline-padding: 2rem
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  color: #F38A38;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  flex: 1;
  color: #df7a2b;
  background-color: #A0AFA0;
}

nav {
  background-color: #555f55;
  color: #F38A38;
  width: calc(100% - 2 * var(--inline-padding));
  align-self: end;
}

footer {
  background-color: #555f55;
  color: #F38A38;
  width: calc(100% - 2 * var(--inline-padding));
  align-self: end;
}

h1,h2,h3,h4 {
  font-family: "Lato", "sans-serif";
}
h1 {
  font-style: italic;
  font-size: 3rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}

h4 {
  color: rgb(238, 184, 143);
  margin-left: 1rem;
}

p {
  color: whitesmoke;
  line-height: 0.8rem;
  font-size: 0.8rem;
  margin-left: 2rem;
}

a {
  color: whitesmoke;
}

a:hover {
  color: #df7a2b;
}

button {
  color: #df7a2b;
  font-weight:bold ;
  font-size: 0.9em;
  border: none;
  border-radius: .2rem;
  padding: .5rem;
  margin-inline: .2rem;
}

button:hover{
  background-color: #c9d1c9;
}

button:active{
  color: #aa6027;
  background-color: #A0AFA0;
}

/* Classes */

.site_description {
  margin-bottom: 2rem;
}

.padding-regular {
  padding-block: 1rem;
  padding-inline: var(--inline-padding);
}


.card {
  display: inline-block;
  background-color:  whitesmoke;
  box-shadow: 0 0 1rem darkgrey;
  border-radius: 0.5rem;
  overflow: hidden;

  width: 200px;
  height: 200px;
  margin: 1rem;
  text-align: center;
}

.card:hover {
  background-color: gainsboro;
  color: #df7a2b;
}
.card:active {
  background-color: silver;
  box-shadow: 0 0 0.2rem dimgray;
}

.card h3 {
  margin: 1rem;
}
.card img {
  max-height: 100px;
}
