@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*--------------------------------------------------
 GLOBAL STYLES
 
 Shouldn't be here, as I'm using the main_styles sheet.
 In a future update I shall either
 a. turn into classes
 b. stop using the main_styles
-------------------------------------------------- */

:root {
  --inline-padding: 2rem;
  --bg-dark: var(--color-black);
  --bg-dark-alpha: #555f5588;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  color: var(--color-secondary);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  flex: 1;
  color: var(--color-secondary-dark);
  background-color: var(--color-lightgray);
}

nav {
  background-color: var(--bg-dark);
  color: var(--color-secondary);
  width: calc(100% - 2 * var(--inline-padding));
  align-self: end;
  box-shadow: 0px 0px 5px 2px var(--color-black);
  z-index: 1;
}

.footer-div {
  background-color: var(--bg-dark);
  color: var(--color-secondary);
  width: calc(100% - 2 * var(--inline-padding));
  align-self: end;
  box-shadow: 0px 0px 5px 2px var(--color-black);
}

h1,h2,h3,h4 {
  font-family: "Lato", "sans-serif";
}
h1 {
  font-style: italic;
  font-size: 3rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}

h2 {
  font-style: italic;
  font-size: 2.3rem;
  line-height: 1rem;
}

nav h4 {
  color: var(--color-secondary-light);
  margin-left: 1rem;
}

p {
  color: var(--color-white);
  line-height: 0.8rem;
  font-size: 0.8rem;
  margin-left: 2rem;
}

button {
  color: var(--color-secondary-dark);
  font-weight:bold ;
  font-size: 0.9em;
  border: none;
  border-radius: .2rem;
  padding: .5rem;
  margin-inline: .2rem;
  box-shadow: 0px 0px 6px darkslategrey;
}

button:hover{
  background-color: gainsboro;
  box-shadow: 0px 0px 3px darkslategrey;
}

button:active{
  color: var(--color-secondary-dark);
  background-color: silver;
  box-shadow: 0px 0px 1px var(--color-black);
}


/*--------------------------------------------------
 CLASSES
-------------------------------------------------- */


.site_description {
  margin-bottom: 2rem;
}

.description_details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  align-content: space-around;
  gap: 1.5rem;
  padding-inline: var(--inline-padding);
}
.description_details ol, .description_details ul {
  list-style: revert;
  color:whitesmoke;
  font-size: 0.8rem;
  margin-block: 0;
}


.padding-regular {
  padding-block: 1rem;
  padding-inline: var(--inline-padding);
}


.card {
  /* display: inline-block; */
  
  background-color:  var(--color-white);
  box-shadow: 0 0 8px dimgray;
  border-radius: 0.5rem;
  overflow: hidden;

  width: 150px;
  height: 150px;
  text-align: center;
}

.card:hover {
  background-color: var(--color-light-gray);
  color: var(--color-secondary-dark);
  box-shadow: 0 0 4px darkslategrey;
}
.card:active {
  background-color: silver;
  box-shadow: 0 0 1px var(--color-black);
}

.card h3 {
  margin: 1rem;
}
.card img {
  max-height: 80px;
}

/*--------------------------------------------------
 IDs
-------------------------------------------------- */
#main_header {
  margin: 0 auto;
  background-color: var(--color-darkgray);
  border-radius: 0.5rem;
  padding: 1rem;
  padding-inline: var(--inline-padding);
}

#main_header h2 {
  color: var(--color-secondary-light);
}
#main_header p {
  margin: 0 auto;
  padding-inline: var(--inline-padding);
  font-size: 0.8rem;
  line-height: 1.1rem;
}

#content {
  margin: 0 auto;
  padding: var(--inline-padding);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

@media screen and (min-width: 600px){
  .card {
    width: 200px;
    height: 200px;
  }

  .card img {
    max-height: 100px;
  }

  #content {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

}
